.module.row h4 {
  font-size: 2em;
}

.module.row a.card-panel {
  display: block;
}

.module.row a.card-panel:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-grid {
  display: grid;
  grid: auto-flow / 1fr 3fr;
  padding-bottom: 2em;
}
.module-grid ul {
  padding-top: 1em;
}
