.DisplayRss h1.article {
  margin: 0;
  padding-top: 15px;
  font-family: 'Slabo 27px';
  font-size: 3.5em;
  line-height: 110%;
  text-transform: uppercase;
  border-top: 7px solid black;
}

.DisplayRss blockquote {
  border: 0;
  padding: 0;
  font-family: 'Slabo 27px';
  font-size: 2em;
}
