.DisplayRooms h2 {
  font-size: 130%;
  line-height: 1.1;
}

.cal-future {
  color: gray;
}
.cal-present {
  color: green;
}
.cal-future span:before {
  content: '↳';
  width: 50px;
  display: inline-block;
}
.cal-present span:before {
  content: '➤';
  width: 50px;
  display: inline-block;
}

.cal-future + .cal-future {
  display: none;
}

.cal-booked {
  margin: 0;
  width: 50%;
  border-bottom: 1px solid gray;
}
.cal-empty {
  margin: 0 0 15px;
  color: #999;
}
.cal-empty:after {
  content: '(unscheduled)';
  font-size: 70%;
  font-style: italic;
  font-weight: 400;
}
