.Display {
  overflow: hidden;
  clear: both;
  font-family: Lato;
  background: #fff;
}

.DisplayMetrics h2 { font-size: 1.5em; }
.DisplayNewrelic h2 { font-size: 1.5em; }

#anglebar ul {
  padding: 10px 0;
  margin: 0 -50px;
  color: white;
}
#anglebar li {
  list-style: none;
  position: relative;
  display: inline-block;
  height: 100px;
  padding: 0 5px;
  margin: 0 50px;
  top: 0;
  background: #666; /* just a default */
  -webkit-transition: left 2s ease;
}

#anglebar li::before, #anglebar li::after {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: 0;
  width: 100px;
  height: 100px;
  background: inherit;
  transform: skewX(-45deg);
}
#anglebar li::before { right: 100%; transform-origin: bottom; }
#anglebar li::after  { left:  100%; transform-origin: top;    }

#anglebar li.left  { float: left;  }
#anglebar li.right { float: right; }
#anglebar li.primary { z-index: 10; }
#anglebar li.sliding { position: absolute; top: 10px; z-index: 5; }

#anglebar h1, #anglebar hgroup {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#anglebar h1 {
  line-height: 100px;
  font-size: 4em;
  white-space: nowrap;
}
#anglebar hgroup {
  margin: 10px 0;
}
#anglebar h2, #anglebar h3 {
  font-size: 2.5em;
  white-space: nowrap;
  margin: 0;
  text-align: center;
  height: 38px;
  line-height: 2.7rem;
}

#anglebar img {
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
