.DisplayKudos #body {
  padding: 0 25px;
}
.DisplayKudos .kudos {
  font-size: 1.6em;
}
.DisplayKudos .big.kudos {
  font-size: 2.3em;
}
.DisplayKudos .big.kudos blockquote {
  margin-top: 0;
}
.DisplayKudos .old.kudos {
  color: #444;
}
.DisplayKudos blockquote {
  margin-bottom: 0;

}
.DisplayKudos cite, .DisplayKudos time {
  font-size: 85%;
  white-space: nowrap;
}
.DisplayKudos time {
  font-style: italic;
  color: #666;
  margin-left: 15px;
}

.DisplayKudos cite span:not(:last-child)::after {
  content: ',';
}
