#display .container-fluid {
  padding: 0 15px;
}

#share-wrap .header-item {
  padding: 0 30px;
  font-size: 1.2em;
  color: #000;
  display: flex;
  align-items: center;
}
#share-wrap .header-item span {
  padding-left: 1em;
}
